
<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="well">
    <%= link_to 'All Products', admin_products_path, class: 'btn btn-info' %>
  </div>


  <div class="panel panel-default items">
    <table class="table table-bordered table table-striped">
      <thead>
        <tr>
          <th>Number Of Products</th>
          <th>Number Of Categories</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= @products_count %>
          </td>
          <td>
            <%= @catagory_count %>
        </tr>
      </tbody>
    </table>
  </div>


